body{
    background-color: rgb(176, 211, 50);
    /* text-align: center; */
    font-family: 'Dosis', sans-serif;
}
.wrapper{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
}
button{
    color: rgb(228, 7, 7);
    background: transparent;
    /* border: 1px solid red; */
    border: none;
    font-size: 25px;
    margin-left: 30px;
}
.heading{
    font-size: 60px;
    color: rgb(181, 20, 230);
    font: 300;
}
.data{
    font-size: 20px;
    margin-bottom: 5px;
}